<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Turf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body class="d-flex justify-content-center">
        <div class="m-5" style="width: 20%;">
        <h4>Add Turf</h4>
        <p>adding turf to our site can make more audience to your site.</p>
        <form action="/edit_turf/{{turf.id}}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="text" name="user_email" style="display: none;" class="rounded border border-secondary " value="{{user.email}}">
          <div class="d-flex flex-column"><label>Turf Name</label> <input type="text" name="turf_name" class="rounded border border-secondary " required value="{{turf.turf_name}}"></div>
          <div class="d-flex flex-column"><label>location</label> <input type="text" name="location" class="rounded border border-secondary" required value="{{turf.location}}"></div>
          <div class="d-flex flex-column"><label>price</label> <input type="text" name = 'price' class="rounded border border-secondary" required value="{{turf.price}}"></div>
          <div  class="d-flex flex-column"><label>Turf Image</label> <input type="file" name="image" class="rounded border border-secondary" required value="{{turf.turf_image}}"></div>
          <div class="d-flex flex-column"><label>description</label> <input type="text" name="description" class="rounded border border-secondary" required value="{{turf.description}}"></div>
          <div class="d-flex flex-column"><label>start</label> <input type="date" name="start" class="rounded border border-secondary" required value="{{turf.start}}"></div>
          <div class="d-flex flex-column"><label>end</label> <input type="date" name="end" class="rounded border border-secondary" required value="{{turf.end}}"></div>
          <div class="d-flex flex-column"><label>Turf size</label> <input type="text" name="turf_size" class="rounded border border-secondary" required value="{{turf.turf_size}}"></div>
          <div class="d-flex flex-column"><label>Contact</label> <input type="text" name="contact" class="rounded border border-secondary" required value="{{turf.contact}}"></div>
          <button class="btn btn-primary mt-4">Upload Turf</button>
        </form>
    </div>
</body>
</html>